//variables
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 1.5rem;

$default-font-size: 1.6rem;

$color-default: #00576d;
$color-title: #2c8e55;
$color-dark-grey: #696969;
$color-green: #6aba00;

//mixins
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }
}

//grid
.row {
  //width: 100%;
  max-width: 114rem;
  background-color: white;
  margin: 0 auto;

  @include clearfix;

  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal-small;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal})/2);

    @include respond(tab-land) {
      width: 100% !important;
    }
  }
  .col-1-of-4 {
    width: calc(2* (100% - 3*#{$gutter-horizontal-small})/7);
  }
  .col-2-of-4 {
    width: calc(
      3*(100% - 3*#{$gutter-horizontal-small})/7 + #{$gutter-horizontal-small}
    );
  }
  .col-2-of-7 {
    width: calc(2 * (100% - #{$gutter-horizontal-small}) / 5);
  }

  .col-5-of-7 {
    width: calc(3* (100% - #{$gutter-horizontal-small})/5);
  }

  &__slider {
    padding: 1rem 0;
  }

  &__widget {
    margin: 1rem 0;
  }
}

//headings
.heading-secondary {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans';
  color: #fff;
  font-size: 1.6rem;
  background-color: $color-default;
  padding: 1rem 0;
}

.heading-tertiary {
  text-align: left;
  color: $color-title;
  font-size: $default-font-size;
  padding: 1rem 0;
}

.heading-quaternary {
  text-align: left;
  color: $color-default;
  font-size: 1.3rem;
  white-space: nowrap;
}

//layout
.widget {
  position: relative;
  border: 2px solid $color-default;
  width: 100%;
  min-width: 32rem;
  max-width: 39rem;
  height: 42rem;
  margin-bottom: 3rem;
  margin-top: 3rem;

  &__content {
    padding: 0 3rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  .box {
    display: block;
    height: 4rem;
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 6px;
    border: 1.5px solid $color-default;
    color: $color-dark-grey;

    &.box__small {
      width: 7.5rem;
    }
    &.box__medium {
      width: 12rem;
    }
  }
}

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: $color-green;
    font-size: $default-font-size;
    border-radius: 6px;
    padding: 1rem;
    border: 1px solid $color-green;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-default;
    border-bottom: 1px solid $color-default;
    font-size: $default-font-size;
  }
}

//utility functions

.u-text-center {
  text-align: center;
  padding: 2rem 0;
}

.u-color-green {
  color: $color-green;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.logo-box {
  display: inline-block;
}

.logo {
  height: 2.5rem;
  margin: 0 1rem;
}

//this section is to override the default settings from react rangeslider library---------------

.rangeslider {
  margin: 0;
}

.rangeslider-horizontal {
  width: 100%;
  -webkit-appearance: none;
  height: 1rem;
  border-radius: 0.5rem;
  background: lighten($color-dark-grey, 0.7);
  outline: none;
  opacity: 0.7;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 1rem;
  background-color: #7cb342;
  border-radius: 10px;
  top: 0;
}

.rangeslider .rangeslider__handle {
  -webkit-appearance: none;
  background-color: $color-default;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.rangeslider-horizontal .rangeslider__handle:after {
  -webkit-appearance: none;
  background-color: $color-default;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 10;
}

.rangeslider .rangeslider__handle-tooltip {
  width: 4rem;
  height: 4rem;
  text-align: center;
  visibility: visible;
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 0px;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.rangeslider .rangeslider__handle-tooltip span {
  visibility: visible;
  color: $color-dark-grey;
  font-size: $default-font-size;
  font-weight: 600;
  margin-top: 12px;
  display: inline-block;
  line-height: 100%;
}
.rangeslider .rangeslider__handle-tooltip:after {
  visibility: visible;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border: none;
}

.rangeslider-horizontal .rangeslider__handle-tooltip {
  background-color: transparent;
  top: -3rem;
}
