@import '//fonts.googleapis.com/css?family=Open+Sans';
@import './components/Widget';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  @include respond(phone) {
    margin: 0 auto;
  }
}

body {
  box-sizing: border-box;
  padding: 5rem 10rem;

  @include respond(phone) {
    padding: 2rem;
  }
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans';
}

@import './components/Widget';
